@import url('https://fonts.googleapis.com/css?family=Crete+Round');

.ui.section.divider {
  margin: 8% 0 8% 0;
}

.ui.header.title {
  font-weight: bold;
  font-size: 3.5em;
  margin-top: 8%;
  font-family: 'Crete Round', sans-serif;
}

i {
  margin: 0 7px;
}

.ui.raised.container.segment {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  margin-top: 12%;
  color: #ee6b2b;
}
