@import url('https://fonts.googleapis.com/css?family=B612');

.title {
  text-align: center;
  font-family: 'B612', serif;
  font-size: 45px;
  margin-top: 5%;
}

.ui.section.divider {
  margin: 100px 0 100px 0;
}

.ui.center.aligned.card.container {
  margin-top: 180px;
  transform: scale(2.5, 2.5);
}

.header {
  font-weight: bold;
}

i {
  margin: 0 7px;
}
